.buttonsDiv {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.buttonsDiv > div {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 1px;
}

.buttonsDiv > div:last-child {
  margin-bottom: 0;
}
